In [7]:
import csv
import pandas as pd

csvFile = open("./annotations.csv",'w',newline='',encoding='utf-8')
writer = csv.writer(csvFile)
csvRow = []

f = open("flickr_logos_27_dataset_training_set_annotation.txt",'r',encoding='GB2312')
for line in f:
    csvRow = line.split()
    writer.writerow(csvRow)

f.close()
csvFile.close()

In [87]:
df = pd.read_csv("annotations.csv",header=None)
df.head()

                0       1  2    3    4    5    6
0   144503924.jpg  Adidas  1   38   12  234  142
1  2451569770.jpg  Adidas  1  242  208  413  331
2   390321909.jpg  Adidas  1   13    5   89   60
3  4761260517.jpg  Adidas  1   43  122  358  354
4  4763210295.jpg  Adidas  1   83   63  130   93

In [88]:
df.columns=["img_path","class","subset","x1","y1","x2","y2"]

In [89]:
df=df.drop("subset",axis=1)
order=["img_path","x1","y1","x2","y2","class"]
df=df[order]
df["img_path"]= ['./data/% s' %s for s in df["img_path"]]
df.head()

                img_path   x1   y1   x2   y2   class
0   ./data/144503924.jpg   38   12  234  142  Adidas
1  ./data/2451569770.jpg  242  208  413  331  Adidas
2   ./data/390321909.jpg   13    5   89   60  Adidas
3  ./data/4761260517.jpg   43  122  358  354  Adidas
4  ./data/4763210295.jpg   83   63  130   93  Adidas

In [90]:
df=df[df["class"].isin(["Adidas","Ferrari","Nike","Porsche","Puma"])]

In [91]:
df.to_csv('annotations.txt', header=None, index=False, sep=" ")

In [92]:

l_train=[]
l_val=[]
l_test=[]

def ReadFileDatas(original_filename):
    file=open(original_filename,'r+')
    FileNameList=file.readlines()
    random.shuffle(FileNameList)
    file.close()
    print("Total data size：", len(FileNameList))
    return FileNameList

def TrainValTestFile(FileNameList):
    i=0
    j=len(FileNameList)
    for line in FileNameList:
        if i<(j*0.6):
            i+=1
            l_train.append(line)
        elif i<(j*0.8):
            i+=1
            l_val.append(line)
        else:
            i+=1
            l_test.append(line)
    print("Total size:%d, now creating train, val, test dataset"%i)
    return l_train,l_val,l_test

def WriteDatasToFile(listInfo, new_filename):
    file_handle = open(new_filename,'w')
    for str_Result in listInfo:
        file_handle.write(str_Result)
    file_handle.close()
    print('Successfully written to %s.' % new_filename)
if __name__ == "__main__":
    listFileInfo = ReadFileDatas('annotations.txt') # 读取文件
    l_train,l_val,l_test=TrainValTestFile(listFileInfo)
    WriteDatasToFile(l_train, 'train_annotations.txt')
    WriteDatasToFile(l_val, 'val_annotations.txt')
    WriteDatasToFile(l_test, 'test_annotations.txt')

Total data size： 766
Total size:766, now creating train, val, test dataset
Successfully written to train_annotations.txt.
Successfully written to val_annotations.txt.
Successfully written to test_annotations.txt.

In [93]:
import csv
csvFile = open("./train_annotations.csv",'w',newline='',encoding='utf-8')
writer = csv.writer(csvFile)
csvRow = []

f = open("train_annotations.txt",'r',encoding='GB2312')
for line in f:
    csvRow = line.split()
    writer.writerow(csvRow)

f.close()
csvFile.close()

In [94]:
csvFile = open("./val_annotations.csv",'w',newline='',encoding='utf-8')
writer = csv.writer(csvFile)
csvRow = []

f = open("val_annotations.txt",'r',encoding='GB2312')
for line in f:
    csvRow = line.split()
    writer.writerow(csvRow)

f.close()
csvFile.close()

In [95]:
csvFile = open("./test_annotations.csv",'w',newline='',encoding='utf-8')
writer = csv.writer(csvFile)
csvRow = []

f = open("test_annotations.txt",'r',encoding='GB2312')
for line in f:
    csvRow = line.split()
    writer.writerow(csvRow)

f.close()
csvFile.close()

In [96]:
mapper = {"class":['Adidas', 'Ferrari', 'Nike', 'Porsche', 'Puma'],"index":[0,1,2,3,4]}
df_class = pd.DataFrame(mapper)
df_class.to_csv('classes.csv', header=None,index=None)
#df["class"] = df["class"].map(mapper)